$white      : #fff;
$font-color : #1D3557;

body {
  font-family: 'Alegreya Sans', sans-serif;
  color: $font-color;
}

#input-field {
  background-color: #F1FAEE;
  background-color: #457B9D;
  color: $white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2.5em;
  text-align: center;
  display: block;
  width: 350px;
  padding: .5em 0;
  border: none;
  border-radius: 7px;
  // border-bottom: 5px solid #457B9D;
  margin: 0 auto;
  outline: 0;
  // cursor: pointer;
  transition: background-color 1s;
  &:focus {
    background-color: darken(#457B9D, 15%);
  }
}

#weather-card {
  background-color: #A8DADC;
  width: 350px;
  height: 350px;
  border-radius: 7px;
  margin: 20px auto 0;
  cursor: pointer;
  transition: background-color 1s;
  &:hover {
    background-color: darken(#A8DADC, 15%);
  }
}

#weather-card-weather {
  font-size: 7em;
  text-align: center;
  line-height: 175px;
  // border-bottom: 5px solid transparentize($font-color, .7);
  // margin: 0 50px;
  height: 175px;
  width: 350px;
  i {
    padding-top: 50px;
  }
}

#weather-card-temperature {
  // display: table-cell;
  // vertical-align: middle;
  font-size: 7em;
  text-align: center;
  line-height: 175px;
  // padding-top: 50px;
  // margin: 0 50px;
  height: 175px;
  width: 350px;
}

// #input-field::-moz-placeholder {
//   color: green;
// }
//
// #input-field:-moz-placeholder {
//   color: green;
// }
