$white      : #fff;
$font-color : #1D3557;
$input-color: #457B9D;
$card-color : #A8DADC;

$stack-sans-serif: 'Alegreya Sans', sans-serif;

body {
  font-family: $stack-sans-serif;
  color: $font-color;
}

#input {
  // position: relative;
  // display: inline-block;
  margin: 0 auto;
  perspective: 700px;
  width: 350px;
}

#input-field {
  background-color: $input-color;
  color: $white;
  font-family: $stack-sans-serif;
  font-size: 2.5em;
  text-align: center;
  width: 270px; // 350 - 80 (search button)
  padding: .5em 0;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  outline: 0;
  transition: background-color 1s ease-out;
  &:focus {
    background-color: darken($input-color, 15%);
  }
}

#input-button {
  background-color: $input-color;
  color: $white;
  font-size: 2.5em;
  padding: .5em 0;
  width: 80px;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  & i {
    transition: transform .5s linear;
  }
  &:hover i {
    transform: rotateX(360deg);
    transform-style: preserve-3d;
  }
}

#content {
  perspective: 700px;
}

.weather-card {
  // position: relative;
  width: 350px;
  height: 350px;
  border-radius: 7px;
  margin: 20px auto 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transform-style: preserve-3d;
  &:hover &-front,
  &:hover &-back {
    background: darken($card-color, 15%);
  }
  &-front,
  &-back {
    backface-visibility: hidden;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
  }
  &-front {
    background-color: $card-color;
    position: relative;
    border-radius: 7px;
    z-index: 100;
    &-weather,
    &-temperature {
      font-size: 7em;
      text-align: center;
      line-height: 175px;
      height: 175px;
      width: 350px;
    }
    &-weather i {
      padding-top: 50px;
    }
  }
  &-back {
    background-color: $card-color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 7px;
    transform: rotateY(180deg);
    &-humidity,
    &-wind {
      text-align: center;
      height: 175px;
      width: 350px;
    }
    &-humidity {
      &:first-child {
        font-size: 2em;
        padding: 0.5em 0;
      }
      &-value {
        font-size: 3em;
        padding: 0.5rem 0;
      }
    }
    &-wind {
      &-card {
        width: 48%;
        float: left;
        margin-left: 2%;
        &-title {
          font-size: 1.3em;
        }
        &-direction {
          font-size: 5em;
          padding-top: 0.1em;
        }
        &-speed {
          font-size: 3.5em;
          padding-top: 0.33em;
        }
      }
    }
  }
}

.flip-over {
  transform: rotateY(180deg);
}
