$white      : #fff;
$font-color : #1D3557;

body {
  font-family: 'Alegreya Sans', sans-serif;
  color: $font-color;
}

#input-field {
  background-color: #F1FAEE;
  background-color: #457B9D;
  color: $white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2.5em;
  text-align: center;
  display: block;
  width: 350px;
  padding: .5em 0;
  border: none;
  border-radius: 7px;
  // border-bottom: 5px solid #457B9D;
  margin: 0 auto;
  outline: 0;
  // cursor: pointer;
  transition: background-color 1s;
  &:focus {
    background-color: darken(#457B9D, 15%);
  }
}

#content {
  perspective: 700px;
}

.weather-card {
  // background-color: #A8DADC;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 7px;
  margin: 20px auto 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s linear;
  -moz-transition: -moz-transform .5s linear;
  transition: transform .5s linear;
  transform-style: preserve-3d;
  &:hover {
    // background-color: darken(#A8DADC, 15%);
    // transform: rotateY(180deg);
  }
  &-front,
  &-back {
    backface-visibility: hidden;
  }
  &-front {
    background-color: #A8DADC;
    position: relative;
    border-radius: 7px;
    z-index: 100;
    &-weather,
    &-temperature {
      font-size: 7em;
      text-align: center;
      line-height: 175px;
      height: 175px;
      width: 350px;
    }
    &-weather i {
      padding-top: 50px;
    }
  }
  &-back {
    background-color: #A8DADC;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 7px;
    transform: rotateY(180deg);
    &-humidity,
    &-wind {
      text-align: center;
      height: 175px;
      width: 350px;
    }
    &-humidity {
      &:first-child {
        font-size: 2em;
        padding: 0.5em 0;
      }
      &-value {
        font-size: 3em;
        padding: 0.5rem 0;
      }
    }
    &-wind {
      &-card {
        width: 48%;
        float: left;
        margin-left: 2%;
        &-title {
          font-size: 1.3em;
        }
        &-direction,
        &-speed {
        }
        &-direction {
          font-size: 5em;
          padding-top: 0.1em;
        }
        &-speed {
          font-size: 3.5em;
          padding-top: 0.33em;
        }
      }
    }
  }
}

.flip-over {
  background-color: darken(#A8DADC, 15%);
  transform: rotateY(180deg);
}

// .weather-card:hover {
//   -webkit-animation-name: rotate;
//   -webkit-animation-duration: 2s;
//   -webkit-animation-iteration-count: infinite;
//   -webkit-animation-timing-function: linear;
//   -moz-animation-name: rotate;
//   -moz-animation-duration: 2s;
//   -moz-animation-iteration-count: infinite;
//   -moz-animation-timing-function: linear;
//   animation-name: rotate;
//   animation-duration: 2s;
//   animation-iteration-count: infinite;
//   animation-timing-function: linear;
// }

// @-webkit-keyframes rotate {
//     0% {-webkit-transform: rotateY(0deg);}
//     25% {-webkit-transform: rotateY(-7deg);}
//     50% {-webkit-transform: rotateY(0deg);}
//     75% {-webkit-transform: rotateY(7deg);}
//     100% {-webkit-transform: rotateY(0deg);}
// }
//
// @-moz-keyframes rotate {
//   0% {-webkit-transform: rotateY(0deg);}
//   25% {-webkit-transform: rotateY(-7deg);}
//   50% {-webkit-transform: rotateY(0deg);}
//   75% {-webkit-transform: rotateY(7deg);}
//   100% {-webkit-transform: rotateY(0deg);}
// }
//
// @keyframes rotate {
//   0% {-webkit-transform: rotateY(0deg);}
//   25% {-webkit-transform: rotateY(-7deg);}
//   50% {-webkit-transform: rotateY(0deg);}
//   75% {-webkit-transform: rotateY(7deg);}
//   100% {-webkit-transform: rotateY(0deg);}
// }
